<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>AngularJS Services App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="services.js"></script>
</head>
<body>

	<form ng-app ng-controller="myServices">

		<h1>My Services</h1>

		<ul>
			<li ng-repeat="service in services">

				<lable>
					<input type="checkbox" ng-model="service.selected" value="1" name="{{service.title}}" />
					{{service.title}} <span>${{service.price}}</span>
				</lable>

			</li>
		</ul>

		<p>Total: <span>${{total()}}</span></p>
		<input type="submit" value="Order" id="order">
	</form>

</body>
</html>